--title {
  font-family: 'DM Serif Display', serif;
}

--primaryFont {
  font-family: 'century-gothic, sans-serif';
}

html {
  font-size: 62.5%;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea, select, a {
  font: inherit;
  background-color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a, li, form {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

html {
  scroll-behavior: smooth;
  overflow-y: none;
}

body {
  width: 100%;
  height: 200vh;
  font-family: century-gothic, sans-serif;
  color: #424242;
}

h1 {
  font-family: 'DM Serif Display', serif;
}

@font-face {
  font-family: century-gothic, sans-serif;
}

.form__button {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px black;
  background-color: white;
  padding: 5px;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.form__button:hover {
  background-color: black;
  color: white;
}

.caroussel {
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 316px;
  max-width: calc((316px * 3) + 8px);
}

.caroussel--home {
  width: 80%;
}

.caroussel--product {
  width: 100%;
}

.caroussel__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(316px * 8);
  -webkit-animation: 20s linear infinite direction;
          animation: 20s linear infinite direction;
  -webkit-animation-name: caroussel;
          animation-name: caroussel;
}

@-webkit-keyframes caroussel {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  22% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-316px);
            transform: translateX(-316px);
  }
  47% {
    -webkit-transform: translateX(-316px);
            transform: translateX(-316px);
  }
  50% {
    -webkit-transform: translateX(calc(-316px * 2));
            transform: translateX(calc(-316px * 2));
  }
  72% {
    -webkit-transform: translateX(calc(-316px * 2));
            transform: translateX(calc(-316px * 2));
  }
  75% {
    -webkit-transform: translateX(calc(-316px * 3));
            transform: translateX(calc(-316px * 3));
  }
  100% {
    -webkit-transform: translateX(calc(-316px * 3));
            transform: translateX(calc(-316px * 3));
  }
}

@keyframes caroussel {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  22% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-316px);
            transform: translateX(-316px);
  }
  47% {
    -webkit-transform: translateX(-316px);
            transform: translateX(-316px);
  }
  50% {
    -webkit-transform: translateX(calc(-316px * 2));
            transform: translateX(calc(-316px * 2));
  }
  72% {
    -webkit-transform: translateX(calc(-316px * 2));
            transform: translateX(calc(-316px * 2));
  }
  75% {
    -webkit-transform: translateX(calc(-316px * 3));
            transform: translateX(calc(-316px * 3));
  }
  100% {
    -webkit-transform: translateX(calc(-316px * 3));
            transform: translateX(calc(-316px * 3));
  }
}

@media only screen and (max-device-width: 820px) {
  .caroussel--home {
    width: 316px;
  }
}

@media only screen and (min-device-width: 1024px) {
  .caroussel--home {
    width: calc(316px * 2);
  }
}

@media only screen and (min-device-width: 1440px) {
  .caroussel--home {
    width: calc(316px * 3);
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 10vh;
  background-color: cornsilk;
}

.nav__list {
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  padding: 20px;
  z-index: 1000;
}

@media (min-width: 1025px) {
  .nav__list {
    position: initial;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
  }
}

.nav__search {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.nav__search label {
  display: none;
}

.nav__test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin: 0 auto;
  padding: 50px;
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding: 10px;
}

.form__field label {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.form__text {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px black;
}

.form__text:focus {
  outline-offset: 0px;
  outline: none;
}

.hero {
  width: 100%;
  height: calc(100vw * 0.478);
  min-height: 400px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero img:first-child {
  position: absolute;
  top: 0;
  right: 0;
  min-height: 400px;
  min-width: 836px;
}

.CTA {
  width: 80%;
  z-index: 1;
  color: white;
  font-family: 'DM Serif Display', serif;
}

.CTA H1 {
  font-size: 3rem;
}

.CTA H2 {
  font-size: 2.3rem;
}

.CTA button {
  background-color: #135e4c;
  color: white;
  border: none;
  font-family: 'century-gothic, sans-serif';
  padding: 8px 16px;
}

@media only screen and (min-device-width: 768px) {
  .hero {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .CTA {
    width: 33%;
    margin-right: 15%;
  }
}

.containerCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cardChoice {
  width: calc((100vw / 2) - 16px);
  margin: 8px;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.cardChoice a img {
  width: 100%;
}

.cardChoice a p {
  text-align: center;
  padding: 5%;
  font-weight: 400;
  font-size: 1.5rem;
}

.cardChoice:hover {
  -webkit-filter: brightness(66%);
          filter: brightness(66%);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
}

@media only screen and (min-device-width: 768px) {
  .cardChoice {
    width: calc((100vw / 4) - 32px);
  }
}

.homeProposition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-device-width: 768px) {
  .homeProposition {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.lastProduct {
  position: relative;
}

.lastProduct img:last-child {
  width: 80px;
  position: absolute;
  top: -16px;
  left: -6px;
}

.aboutUs {
  -ms-flex-item-align: center;
      align-self: center;
  padding: 32px 16px 64px 16px;
  background-image: url("../assets/pictures/kawa_background_apropos.jpg");
  background-size: 100%;
  width: 100%;
  height: calc(100vw * 1.499);
  max-height: 500px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutUs h3 {
  font-size: 2.3rem;
}

.aboutUs img {
  max-width: 600px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 80%;
  height: auto;
}

.aboutUs p {
  padding: 16px;
  font-size: 2rem;
}
/*# sourceMappingURL=main.css.map */