/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;
  --first-color: hsl(var(--hue), var(--sat), 40%);
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #FFF;
  /*========== Font and typography ==========*/
  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .625rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}

html {
  font-size: 62.5%;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 1.3125rem;
  line-height: 1.6;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea, select, a {
  font: inherit;
  background-color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a, li, form {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

html {
  scroll-behavior: smooth;
  overflow-y: none;
}

body {
  width: 100%;
  height: 200vh;
  background-color: #9cc09c;
}

.form__button {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px black;
  background-color: white;
  padding: 5px;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.form__button:hover {
  background-color: black;
  color: white;
}

.nav {
  width: 100%;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  border-radius: 1.25rem 1.25rem 0 0;
}

.nav__logo {
  height: 30px;
  width: 30px;
}

.nav__logo img {
  width: 80%;
  height: 80%;
}

.nav__search {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__link {
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.nav button {
  border: none;
}

.nav input {
  border-top: none;
  border-left: none;
  border-right: none;
}

.container {
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #c9c9c9;
  overflow: hidden;
  -webkit-transition: all 0.7s cubic-bezier(0.8, 0, 0.58, 1);
  transition: all 0.7s cubic-bezier(0.8, 0, 0.58, 1);
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 10;
}

.container .close {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.container .close img {
  width: 100%;
  height: 100%;
}

.active {
  top: 0;
}

@media only screen and (min-width: 1280px) {
  .nav {
    position: initial;
    border-radius: 0 0 0 0;
  }
}

/*=============== MEDIA QUERIES ===============*/
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin: 0 auto;
  padding: 50px;
}

.form__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding: 10px;
}

.form__field label {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.form__text {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px black;
}

.form__text:focus {
  outline-offset: 0px;
  outline: none;
}
/*# sourceMappingURL=main.css.map */