/*=============== GOOGLE FONTS ===============*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
--title {
    font-family: "DM Serif Display", serif;
}

--primaryFont {
    font-family: "century-gothic, sans-serif";
}

--primaryBgColor {
    background-color: #135e4c;
}

--primaryColor {
    color: #135e4c;
}

--primaryBgColorHover {
    background-color: #1d3f36;
}

--primaryColorHover {
    color: #1d3f36;
}