.layoutContainertable.commentAdmin form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.commentAdmin {
    button,
    input,
    textarea,
    div,
    h3 {
        margin: 0.5rem;
    }
    textarea {
        border: none;
        background-color: rgb(249, 247, 244);
    }
}