.sideBarreAdmin {
    width: 100%;
    min-width: 400px;
    height: auto;
    min-height: 92vh;
    padding: 32px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(5px);
    & h1 {
        margin-bottom: 16px;
        font-size: 2.3rem;
    }
    & ul {
        width: 100%;
        border-top: 1px solid #135e4c;
        & li {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px;
            font-size: 1.8rem;
            & a,
            i {
                color: #135e4c;
            }
            &:hover {
                background-color: #135e4d15;
                & a {
                    background-color: #135e4d00;
                }
            }
        }
        & li:not(li:first-child) {
            border-top: 1px solid #135e4d33;
        }
    }
}

.notifAcount {
    background-color: #135e4d33;
    padding: 16px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin-top: auto;
    & a {
        background-color: #135e4d00;
        text-decoration: underline;
        align-self: flex-end;
        margin-top: 8px;
    }
}
.imgIndexAcount{
    display: none;
}

@media only screen and (min-device-width: 820px) {
    .sideBarreAdmin {
        width: 450px;
    }
}
@media only screen and (min-device-width: 1024px) {
    .imgIndexAcount{
        display: initial;
        width: 70%;
    }
    .acountIndexMain{
        width: calc(100vw - 400px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}