.containerInfo {
    form {
        display: flex;
        flex-direction: column;
    }
    textarea {
        border: none;
        background-color: rgb(249, 247, 244);
    }
}

.commentAdmin button,
input,
textarea,
div,
h3 {
    margin: 0.5rem;
}