.historique {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    &__title {
        color: #135e4c;
        &--small {
            font-size: 16px;
        }
    }
    &__field {
        width: 100%;
        margin: 0 auto;
        padding: 16px;
    }
    .historique__fieldState {
        border-bottom: 1px solid gray;
        padding: 8px;
        ul {
            display: flex;
            justify-content: space-evenly;
        }
    }
}