// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.hero{
    width: 100%;
    height: calc(100vw * 0.478);
    min-height: 400px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    & img:first-child{
        position: absolute;
        top: 0;
        right: 0;
        min-height: 400px;
        min-width: 836px;
    }
}
.CTA{
    width: 80%;
    z-index: 1;
    color: white;
    font-family: 'DM Serif Display', serif;
    & H1{
        font-size: 3rem;
    }
    & H2{
        font-size: 2.3rem;
    }
    & button{
        background-color: #135e4c;
        color: white;
        border: none;
        font-family: 'century-gothic, sans-serif';
        padding: 8px 16px;
    }
}
@media only screen and (min-device-width : 768px)
{
    .hero{
        justify-content: end;
    }
    .CTA{
        width: 33%;;
        margin-right: 15%;
    }
}

.containerCard{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.cardChoice{
    width: calc((100vw / 2) - 16px);
    margin: 8px;
    border-radius: 4px;
     box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.20);
    overflow: hidden;
    transition: 0.7s;
    & a img{
        width: 100%;
    }
    & a p{
        text-align: center;
        padding: 5%;
        font-weight: 400;
        font-size: 1.5rem;
    }
}
.cardChoice:hover{
    filter: brightness(66%);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
}

@media only screen and (min-device-width : 768px)
{
    .cardChoice{
        width: calc((100vw / 4) - 32px);
    }
}

.homeProposition{
    display: flex;
    flex-wrap: wrap;
}
@media only screen and (max-device-width : 768px)
{
   .homeProposition{
    justify-content: center;
   }

}


.lastProduct{
    position: relative;
    & img:last-child{
        width: 80px;
        position: absolute;
        top: -16px;
        left: -6px;
    }
}

.aboutUs{
    align-self: center;
    padding: 32px 16px 64px 16px;
    background-image: url("../assets/pictures/kawa_background_apropos.jpg");
    background-size: 100%;
    width: 100%;
    height: calc(100vw * 1.499);
    max-height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & h3{
        font-size: 2.3rem;
    }
    & img{
        max-width: 600px;
        align-self: center;
        width: 80%;
        height: auto;
    }
    & p{
        padding: 16px;
        font-size: 2rem;
    }

}
