.formField {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    padding-left: 4rem;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}

.resumeOrder {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    background-color: rgb(255, 255, 255);
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    border-radius: 4px;
    img {
        width: 125px;
        border-radius: 4px;
    }
    a {
        margin-top: 1rem;
        /*  margin-bottom: 1rem; */
        padding-left: 6.2rem;
    }
}

.resumeOrder p:first-child {
    margin-bottom: 1rem;
}

.cardProduct {
    background-color: rgb(249, 247, 244);
    margin-bottom: 1rem;
    display: flex;
    width: 100%;
}

.resume {
    margin: 0.5rem;
    padding-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    flex-direction: column;
    align-content: center;
    border-radius: 4px;
}

.resume div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}