/* Header */

#header {
    background-size: cover;
    width: 100%;
    text-align: center;
    position: relative;
}


/*================================*/


/*=== Partie sur le Swipe Menu ===*/


/*================================*/


/* Menu burger */

#menu-burger {
    position: fixed;
    top: 1.5em;
    right: 3.5em;
    display: inline-block;
    cursor: pointer;
}

#menu-burger .bar1,
#menu-burger .bar2,
#menu-burger .bar3 {
    width: 32px;
    height: 5px;
    background-color: #0c4b10;
    margin: 6px 0;
    transition: 0.4s;
}

#menu-burger:hover {
    opacity: 0.75;
    transition: 0.5s;
}

#menu-burger.clicked .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

#menu-burger.clicked .bar2 {
    opacity: 0;
}

#menu-burger.clicked .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

#menu {
    position: fixed;
    z-index: 9999;
    left: -25%;
    top: auto;
    background-color: rgba(255, 255, 255, 255);
    backdrop-filter: blur(5px);
    width: 25%;
    min-height: 100%;
}

#menu ul li {
    list-style: none;
    font-size: 1.8rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    font-size: 1.8rem;
    border-top: 1px solid #135e4d33;
}

#menu ul li a {
    display: block;
    text-decoration: none;
    transition: background 0.5s;
    text-align: center;
}

#menu ul li a:hover {
    background-color: #135e4d00;
    transition: background 0.5s;
}

#menu.visible {
    animation: 0.5s slideRight ease-in forwards;
    transition-delay: 0;
}

#menu.invisible {
    animation: 1s slideLeft ease-out forwards;
    transition-delay: 0;
}


/* Animations pour le menu slide */

@keyframes slideRight {
    from {
        left: -25%;
    }
    to {
        left: 0%;
    }
}

@-webkit-keyframes slideRight {
    from {
        left: -25%;
    }
    to {
        left: 0%;
    }
}

@keyframes slideLeft {
    from {
        left: 0%;
    }
    to {
        left: -25%;
    }
}

@-webkit-keyframes slideLeft {
    from {
        left: 0%;
    }
    to {
        left: -25%;
    }
}


/* Responsive design */

@media (max-width: 1024px) {
    #menu {
        left: -50%;
        width: 50%;
    }
    #menu-burger.clicked {
        position: fixed;
    }
    #main-block,
    #second-block {
        padding: 4em 2em;
    }
    /* Animations pour le menu slide */
    @keyframes slideRight {
        from {
            left: -50%;
        }
        to {
            left: 0%;
        }
    }
    @-webkit-keyframes slideRight {
        from {
            left: -50%;
        }
        to {
            left: 0%;
        }
    }
    @keyframes slideLeft {
        from {
            left: 0%;
        }
        to {
            left: -50%;
        }
    }
    @-webkit-keyframes slideLeft {
        from {
            left: 0%;
        }
        to {
            left: -50%;
        }
    }
}

@media (max-width: 600px) {
    #menu-burger {
        top: 1em;
        right: 2em;
        z-index: 9999;
    }
    #menu {
        left: -100%;
        width: 100%;
    }
    #second-block #google-maps {
        width: 100%;
        margin-right: 0;
    }
    #second-block #contact-form {
        width: 100%;
        margin-top: 2em;
    }
    /* Animations pour le menu slide */
    @keyframes slideRight {
        from {
            left: -100%;
        }
        to {
            left: 0%;
        }
    }
    @-webkit-keyframes slideRight {
        from {
            left: -100%;
        }
        to {
            left: 0%;
        }
    }
    @keyframes slideLeft {
        from {
            left: 0%;
        }
        to {
            left: -100%;
        }
    }
    @-webkit-keyframes slideLeft {
        from {
            left: 0%;
        }
        to {
            left: -100%;
        }
    }
}