.caroussel{
 overflow: hidden;
 align-items: center;
 min-width: 316px;

 &--home{
     width: 80%;
 }
 &--product{
     width: 100%;
 }
 &__element{
    display: flex;
    width: calc(100% * 4);
    animation: 20s linear infinite direction forwards;
    animation-name: caroussel;
 }

}
@keyframes caroussel {
    0% { transform: translateX(0)}
    22%{ transform: translateX(0)}
    25%{ transform: translateX(-316px)}
    47%{ transform: translateX(-316px)}
    50% {transform: translateX(calc(-316px * 2))}
    72% {transform: translateX(calc(-316px * 2))}
    75% {transform: translateX(calc(-316px * 1))}
    100% {transform: translateX(calc(-316px * 1))}
    
}

@media only screen and (max-device-width : 768px)
{
   .caroussel--home{
    width: 316px;
   }

}
// .caroussel_element section{
//     margin-left: calc((100vw - 300px)/2);
//     margin-right: calc((100vw - 300px)/2);
// }


// @media screen and (min-width: 624px){
//     .caroussel_element section{
//         margin-left: 8px;
//         margin-right: 8px;
//     } 
// }