.card {
    overflow: hidden;
    background-color: white;
    border-radius: 5px;
    width: 300px;
    height: 400px;
    position: relative;
    // box-shadow: 1px 2px 8px 2px rgba(0, 0, 0, 0.171);
    border: #135e4c15 1px solid;
    display: flex;
    flex-direction: column;
    margin: 8px;
    overflow-wrap: break-word;
    transition: 0.3s;
    &__like {
        color: #135e4c;
    }
    &__picture {
        width: 100%;
        height: 230px;
        transition: 0.3s;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__logonostock {
        position: absolute;
        width: 300px;
        z-index: 1;
        top: -100px;
        right: 0;
    }
    &__logoAb {
        position: absolute;
        width: 300px;
        z-index: 2;
        top: 0;
        right: 0;
    }
    &__info {
        padding: 16px;
        display: flex;
        flex-direction: column;
        width: 100%;
        flex-grow: 1;
        &__titre {
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin: 0;
        }
        & form {
            align-self: end;
            margin: 0;
            padding: 0;
            margin-top: auto;
            z-index: 3;
            & label {
                font-size: 1.3rem;
                color: #135e4c;
            }
            & button {
                margin: 0;
                padding: 0;
                cursor: pointer;
                background-color: white;
                color: #135e4c;
                border: none;
            }
        }
        & form:hover button i {
            color: #1d3f36;
        }
    }
    &:hover{
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.33);
    }
}