.alert {
  background-color: rgba(224, 95, 95, 0.589);
  border-radius: 4px;
  animation: popup 1s linear forwards;
  &__message {
    padding: 16px;
    text-align: center;
  }

  &--success {
    background-color: rgba(19, 94, 77, 0.33);
  }
}

@keyframes popup {
  from {
    opacity: 0;
    // transform: translate(-50%);
  }
  to {
    opacity: 1;
    // transform: translate(0%);
  }
}

.addProductInShop {
  width: 15%;
  padding: 1%;
  background-color: green;
  border-radius: 4px;
  color: whitesmoke;
}
