html {
  scroll-behavior: smooth;
  overflow-y: none;
}

body {
    width: 100%;
    height: 200vh;
    font-family: century-gothic, sans-serif;
    color: #424242;
}

h1{
    font-family: 'DM Serif Display', serif;
}