html {
  scroll-behavior: smooth;
  overflow-y: none;
}

body {
  width: 100%;
  height: 100%;
  font-family: century-gothic, sans-serif;
  color: #424242;
  background-color: rgb(249, 247, 244)
}

h1 {
  font-family: "DM Serif Display", serif;
  font-size: 2.3rem;
}
