html {
    scroll-behavior: smooth;
    overflow-x: none;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: century-gothic, sans-serif;
    color: #424242;
    background-color: rgb(249, 247, 244);
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

h1 {
    font-family: "Playfair Display 600", serif;
    // font-weight: 600;
}

.layoutContainertable {
    width: 100%;
    display: flex;
    justify-content: center;
}

.layoutContainertable div:nth-child(1) {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 4px;
}

.layoutContainertable article {
    display: flex;
    flex-direction: column;
}

.layoutContainertable input {
    border: none;
    border-bottom: 1px solid #135e4d33;
}

.layoutContainertable button {
    margin: 0.5rem;
}