// -----------------------------------------------------------------------------
// This file contains all @font-face declarations.
// -----------------------------------------------------------------------------
@font-face {
    font-family: century-gothic, sans-serif;
}