// -----------------------------------------------------------------------------
// This file contains all css reset declarations.
// -----------------------------------------------------------------------------

html {
    font-size: 62.5%;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.6;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
    height: auto;
}

input, button, textarea, select, a {
    font: inherit;
    background-color: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

a, li, form {
    text-decoration: none;
    list-style: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

h1{
    font-size: 3.2rem;
}