.form {
    overflow-x: hidden;
    @include alignColumn(center);
    margin: 0 auto;
    padding: 50px;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // background-color: red;
        color: black;
    }
    &__field {
        width: 100%;
        @include alignColumn(center);
        padding: 10px;
        &--row {
            flex-direction: row;
        }
    }
    &__label {
        align-self: flex-start;
        // display: none;
        font-size: 16px;
    }
    &__text {
        font-size: 16px;
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid 1px black;
        height: 20px;
        &:focus {
            outline-offset: 0px;
            outline: none;
        }
    }
    &__link {
        font-size: 12px;
    }
}

.containerMain {
    width: 100%;
    background-color: rgb(249, 247, 244);
}

.formLivraison {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
    /*  padding: 50px; */
    fieldset {
        @include alignColumn(center);
        padding: 0.625rem;
        border: solid 1px rgba(202, 202, 202, 0.547);
        border-radius: 0.5rem;
        padding-left: 1rem;
        min-width: 300px;
        width: 25vw;
        max-width: 95%;
        legend {
            margin-left: 0.2rem;
            margin-right: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;
            align-self: flex-start;
            color: rgb(125, 121, 121);
            background-color: rgb(255, 255, 255);
            // display: none;
        }
    }
    &__text {
        border: none;
        background-color: rgb(255, 255, 255);
        /*     min-width: 80%; */
        min-width: 280px;
        width: 25vw;
        max-width: 95%;
        margin-left: 0.5rem;
        &:focus {
            outline-offset: 0px;
            outline: none;
        }
    }
}