// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

// .nav {
//   display: flex;
//   justify-content: space-evenly;
//   align-items: center;
//   width: 100%;
//   height: 10vh;
//   background-color: cornsilk;

//   &__list {
//     position: fixed;
//     bottom: 0;
//     display: flex;
//     justify-content: space-evenly;
//     align-items: flex-end;
//     width: 100%;
//     padding: 20px;
//     z-index: 1000;
//     // height: 100%;

//     @media (min-width: 1025px) {
//       position: initial;
//       align-items: center;
//       justify-content: none;
//     }
//   }

//   &__search {
//     label {
//       display: none;
//     }
//     display: inline-flex;
//   }
// }

.nav {
  width: 100%;
  height: 8vh;
  display: flex;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0;
  // background-color: #fff;
  background-color: hsla(0, 0%, 100%, 0.95);
  border-radius: 1.25rem 1.25rem 0 0;
  z-index: 100;

  &__logo {
    // position: relative;
    // top: -50%;
    height: 30px;
    width: 30px;

    img {
      width: 80%;
      height: 80%;
      // background-color: hsla(0, 0%, 100%, 0.95);
    }
  }

  &__search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__link {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    // background-color: hsla(0, 0%, 100%, 0.95);
    background-color: transparent;
    transition: 0.3s ease-in-out;

    &:hover {
      color: #135e4df5;
    }
  }

  button {
    border: none;

    &:hover {
      color: #135e4dc5;
    }
  }

  input {
    border-top: none;
    border-left: none;
    border-right: none;
  }
}

.container {
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-direction: column;
  background-color: hsla(0, 0%, 100%, 0.95);
  backdrop-filter: blur(5px);
  overflow: hidden;
  transition: all 0.7s cubic-bezier(0.8, 0, 0.58, 1);
  transform: scale(1);
  z-index: 10;
  z-index: 110;

  label {
    display: none;
  }

  &__search {
    width: 80%;
    min-height: 50px;
    background-color: #135e4d33;
    border: none;
    // border-radius: 4px;
    // opacity: 0.3;
    font-size: 24px;
    padding: 0 0 0 24px;
  }

  button:nth-child(3) {
    background-color: #135e4d33;
    // border-radius: 4px;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      background-color: transparent;
    }
  }
}

.active {
  top: 0;
}

@media only screen and (min-width: 768px) {
  // body {
  //   background: green;
  // }
}

@media only screen and (min-width: 1280px) {
  .nav {
    // background: steelblue;
    position: initial;
    border-radius: 0 0 0 0;
  }

  // .active {
  //   top: -85%;
  // }

  // .container {
  //   align-items: flex-end;
  // }

  // .container__search {
  //   margin-bottom: 100px;
  // }
}

#notifOne{
  color: #135e4d;
  font-size: 1rem;
  margin-top: -15px;
}

.notifPanier{
  margin-top: -15px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  color: white;
  background-color: #135e4d;
  text-align: center;
  font-size: 1rem;

}